<html>
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <% if(destinations) { %>

        <% destinations.forEach( destination => { %>

            <a href="/user/destination/<%= destination._id %>"><%= destination.name %></a>
            <%= destination.category %>
            <%= destination.price %>
            <%= destination.availableTickets %>

       <% }) %>

    <% } else { %>

        <% } %>


</body>    
    
</html>
