<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

<body bgcolor="#78a7ba">
    <%- include('../partials/nav.ejs') %>

<%= destination.name %>
<%= destination.availableTickets %>
<%= destination.address %>
<%= destination.price %>

<a href="/user/book-destination/<%= destination._id %>">BOOK NOW</a>

</body>
</html>