<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

<body bg="#78a7ba">
    <%- include('../partials/nav.ejs') %>

    Address:<%= parking[0].address %> <br>
    Total Slots:<%= parking[0].totalSlots %>  <br>
    Available Slots: <%= parking[0].availableSlots%> <br>
   
    <% if(parking[0].availableSlots>0){%>
    <button id="btn">BOOK NOW</button>
    <script>
        const btn=document.getElementById("btn");
        btn.addEventListener('click',function (){
             window.location.replace("http://localhost:3000/user/parking-slot-booking/<%= parking[0]._id %>");
        });
    </script>
    <%}else{%>
    <p> There are no available slots</p>
    <%}%>
</body>
</html>